{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1> {{ _('sign in') }} </h1>

    <div class = 'row'>
        <div class = 'col-md-4'>
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <p> {{ _('new here?') }} <a href = "{{ url_for('auth.register') }}"> {{ _('climb on board') }} </a></p>
    
    <p> {{ _('password forgotten?') }} <a href = "{{ url_for('auth.reset_password_request') }}"> {{ _('reset it') }} </a>

{% endblock %}
