<p> hello {{ user.username }}, </p>
<p>
    it looks like you want to reset your password?

    either reset your password with
    <a href="{{ url_for('reset_password', token = token, _external = True) }}">
        this link
    </a>
</p>
<p> if you don't trust banks you can paste the following into your favourite browser instead </p>
<p> {{ url_for('reset_password', token = token, _external = True) }} </p>
<p> or don't, if you don't want to </p> <br>
<p> {generic sign off}, </p>
<p> generic blog team </p>